.xp {
  position: relative;
  display: inline-block;
  font-family: "Space Mono", monospace;
  font-size: 3vw;
  margin: 4vw;
  margin-bottom: 1vw;
}

.xp::after {
  position: absolute;
  content: "";
  left: 0;
  top: 100%;
  width: 0;
  height: 2px;
  background-color: #000;
  -webkit-animation: souligneTitre 2s ease-in-out 1s;
          animation: souligneTitre 2s ease-in-out 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes souligneTitre {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes souligneTitre {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.techniques {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 16% 16% 16% 16% 16% 10%;
      grid-template-columns: 10% 16% 16% 16% 16% 16% 10%;
  -ms-grid-rows: 1vw 12vw 1vw 12vw 1vw;
      grid-template-rows: 1vw 12vw 1vw 12vw 1vw;
  margin-left: 1vw;
}

.centerBadges, #html5, #CSS3, #JS, #WordPress, #github, #React, #angular, #node, #sass, #graphQL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#html5 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

#CSS3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

#JS {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

#WordPress {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
}

#github {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
}

#React {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

#angular {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

#node {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

#sass {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
}

#graphQL {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
}

.badge {
  width: 8vw;
  height: auto;
  text-align: center;
  padding: 1vw;
  -webkit-transition-duration: 1.3s;
          transition-duration: 1.3s;
}

.badge:hover {
  width: 10vw;
  height: auto;
  background-color: #d6eaf8;
  border-radius: 50%;
  border: 1.5px solid #fe2c2c;
  cursor: pointer;
}

.softskills {
  margin-left: 5vw;
}

.softskillsTitle {
  position: relative;
  display: inline-block;
  font-family: "Space Mono", monospace;
  font-size: 3vw;
  margin-bottom: 1vw;
  margin-top: 1vw;
  margin-left: -1vw;
}

.softskillsTitle::after {
  position: absolute;
  content: "";
  left: 0;
  top: 100%;
  width: 0;
  height: 2px;
  background-color: #000;
  -webkit-animation: souligneTitre 2s ease-in-out 1s;
          animation: souligneTitre 2s ease-in-out 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

ul {
  list-style: circle;
}

li {
  font-family: "Roboto Mono", monospace;
  font-size: 2vw;
  margin-left: 5vw;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

li:hover {
  font-size: 2.5vw;
  list-style-type: disc;
}

a {
  text-decoration: none;
  color: black;
}
/*# sourceMappingURL=badges.component.css.map */