<div *ngIf="router.url === '/badges'">
  <app-nav-bar></app-nav-bar>
</div>
<body>
<div class="xp">Expérience avec:</div>
<div class="techniques">
  <div id="php">
    <img
      class="badge"
      src="../../assets/php.png"
      alt="php"
    />
  </div>

  <div id="symfony">
    <img
      class="badge"
      src="../../assets/symfony.png"
      alt="symfony"
    />
  </div>

  <div id="prestashop">
    <img
      class="badge"
      src="../../assets/prestashop.png"
      alt="prestashop"
    />
  </div>

  <div id="vue">
    <img
      class="badge"
      src="../../assets/vue.png"
      alt="vue"
    />
  </div>
</div>

<div class="softskills">
  <div class="softskillsTitle">Soft skills:</div>
  <ul>

    <li>Esprit d'équipe</li>

    <br/>
    <li>Travailleur</li>
    <br/>
    <li>Autonomie</li>
    <br>
    <li>A l'écoute</li>
  </ul>
</div>
</body>
