.haut {
  margin: 4vw;
  margin-top: 7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photoprofil-holder {
  width: 35%;
}

.Photoprofil {
  border-radius: 2%;
  display: block;
  width: 100%;
}

.infoHaut {
  font-family: "Roboto Mono", monospace;
  margin-left: 2vw;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.infoBas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #eae7e7;
  font-family: "Roboto Mono", monospace;
  font-size: 1.8vw;
  padding: 1vw;
  margin: 2vw;
}

.barcontact, .Mail, .iconTelephone, .iconAdresse, .iconVoiture, .adresse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-left: 0.25vw;
  padding-right: 0.25vw;
}

.boutonDownload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.boutonDownload2 {
  font-family: "Roboto Mono", monospace;
  font-size: 3vw;
  border: 2px solid #eae7e7;
  background-color: #fff;
  margin: 1vw;
  padding: 1vw;
  cursor: pointer;
}

#iconMail {
  width: 3vw;
  height: auto;
  margin-bottom: 0.5vw;
}

#iconTelephone {
  width: 3vw;
  height: auto;
  margin-bottom: 0.5vw;
}

#iconAdresse {
  width: 3vw;
  height: auto;
  margin-bottom: 0.5vw;
}

#iconVoiture {
  width: 3vw;
  height: auto;
  margin-bottom: 0.5vw;
}

.droite {
  padding-left: 2vw;
  font-size: 1.95vw;
}

.CeQueJeCherche {
  font-family: "Space Mono", monospace;
  font-size: 3vw;
  font-weight: bold;
}

.Naissance {
  padding-left: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8vw;
}

.name {
  font-family: "Space Mono", monospace;
  font-size: 6vw;
  margin-bottom: 1vw;
}

.Secteur {
  padding-left: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8vw;
}

.Objectif {
  padding-left: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8vw;
}

.date {
  padding-left: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8vw;
}

#naissanceIcon {
  width: 2.5vw;
  height: auto;
  padding: 1vw;
}

#ObjectifIcon {
  width: 3vw;
  height: auto;
  padding: 1vw;
}

#SecteurIcon {
  width: 3vw;
  height: auto;
  padding: 1vw;
}

#dateIcon {
  width: 3vw;
  height: auto;
  padding: 1vw;
}
/*# sourceMappingURL=sidebar.component.css.map */