<div *ngIf="router.url === '/info'">
  <app-nav-bar></app-nav-bar>
</div>
<body>
<div class="haut">
  <div class="infoHaut">
    <div class="name">
      Clément MAGNIN
    </div>
    <div class="Naissance">
      25 Novembre 1998
    </div>
    <h1 class="CeQueJeCherche">
      A la recherche de:
    </h1>
    <div class="Secteur">
      Job: Dévelopeur Web - Back-end
    </div>
  </div>
</div>

<div class="infoBas">
  <div class="Mail">
    <div>
      <img
        id="iconMail"
        src="https://img.icons8.com/carbon-copy/100/000000/email.png"
      />
    </div>

    <div class="mail">clement.magnin1998@gmail.com</div>
  </div>
  <div class="iconTelephone">
    <img
      id="iconTelephone"
      src="https://img.icons8.com/material-outlined/100/000000/phone.png"
    />
    <div class="telephone">07 70 17 92 99</div>

  </div>
  <div class="iconAdresse">
    <img
      id="iconAdresse"
      src="https://img.icons8.com/dotty/45/000000/dog-house.png"
    />

    <div class="adresse">249 Avenue Jean Jaurès, Lyon, 69007</div>
  </div>
  <div class="iconVoiture">
    <img
      id="iconVoiture"
      src="https://img.icons8.com/carbon-copy/45/000000/fiat-500.png"
    />

    <div class="voiture">Permis B et véhiculé</div>
  </div>
</div>
</body>
