<div *ngIf="router.url === '/resume'">
  <app-nav-bar></app-nav-bar>
</div>
<body>
<div class="CV">Motivation:</div>
<div class="presentation">
  <p>
    Grâce à l'expérience que m'a apporté la formation Chef de Projet Ingénierie Logicielle, et mon alternance chez
    Asdoria,
    j'ai pu développer de nobreuses compétences dans différents langages de programmation et framework, ainsi sur dans
    la gestion
    d'équipe, de projet et dans le chiffrage.
    <br>
    Je suis donc à la recherche d'un emploi pour la fin de mon alternance, en Octobre 2022.
  </p>
</div>
</body>
