<div *ngIf="router.url === '/xp'">
  <app-nav-bar></app-nav-bar>
</div>
<body>
  <div class="formation">
    <p class="formationTitre">
      Formation et expériences professionnelles:
    </p>
    <div id="asdoriaLogo">
        <img
          class="logo_asdoria"
          src="../../assets/asdoria.png"
          alt="Asdoria"
        >
      Septembre 2019 - Septembre 2022: Alternance chez Asdoria
    </div>
    <div class="ecole">
      <img
        class="ecoleLogo"
        src="../../assets/ipi.png"
        alt="ecole"
      />
      Octobre 2019 - Septembre 2022: Formation CDAN puis CPIL
    </div>
  </div>
</body>
