<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link
    href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap"
    rel="stylesheet"
  />

  <title>Clément MAGNIN</title>
</head>
</html>

<html>
<div class="HomeComponent">
  <div class="PhotoInfo">
    <div class="Info">
      <div class="name" id="home">
        <img
          class="IconHome"
          id="LogoName"
          src="https://img.icons8.com/ios-filled/36/000000/name.png"
          alt="LogoName"
        />
        Clément MAGNIN
      </div>
      <div class="Job" id="home">
        <img
          class="IconHome"
          id="IconJob"
          src="https://img.icons8.com/metro/36/000000/under-computer.png"
          alt="IconJob"
        />
        Développeur Web Junior chez Asdoria
      </div>
      <div class="Job" id="home">
        <img
          class="IconHome"
          id="IconJob"
          src="https://img.icons8.com/officel/36/000000/school.png"
          alt="IconJob"
        />
        IPI Lyon - Master 1 CPIL
      </div>
      <div class="GitHub" id="home">
        <img
          class="IconHome"
          src="https://img.icons8.com/windows/36/000000/github.png"
          alt="GitHubLogo"
          id="GitHubLogo"
        /><a href=" https://github.com/canardgonflable" target="_blank">
        https://github.com/canardgonflable</a
      >
      </div>
      <div class="LinkedIn" id="home">
        <img
          class="IconHome"
          src="https://img.icons8.com/color/36/000000/linkedin-circled.png"
          alt="LinkedInLogo"
          id="LinkedInLogo"
        />
        <a href="https://www.linkedin.com/in/clément-magnin-3a5ab2200/" target="_blank">
          https://www.linkedin.com/in/clément-magnin-3a5ab2200/
        </a>
      </div>
    </div>
  </div>
  <a routerLink="/mainpage">
    <button type="button" class="buttonMore" >En savoir plus</button></a
  >
</div>
</html>
